# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Ambientes virtuais e segredos
.venv/
venv/
env/
ENV/
.env
.envrc

# Testes e caches
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Editores
tempCodeRunnerFile.py

# Sistema operacional
.DS_Store
Thumbs.db